@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700&display=swap");

:root {
  --header: rgba(248, 212, 212, 0.514);
  --link-clr: #fff;
  --link-hover-clr: #c4a86b;
}

* {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  min-height: 100vh;
  width: 100%;
  background: url(assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 0 80px;
}

header img {
  height: 50px;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

nav ul li a {
  color: var(--link-clr);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 530;
  transition: color ease-in-out 0.2s;
}

nav ul li a:hover,
.current {
  color: var(--link-hover-clr);
}

nav ul li a:active {
  opacity: 0.8;
}

.hamburger {
  display: none;
  visibility: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
}

.hamburger i {
  font-size: 32px;
  transition: 0.15s ease-in-out;
}

.hamburger i:hover {
  color: var(--link-hover-clr);
}

.h-popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  visibility: hidden;
}

.h-popup {
  background-color: rgb(16, 15, 25);
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-btn i {
  font-size: 40px;
  cursor: pointer;
  transition: color 0.2s;
}

.h-popup ul {
  margin-top: 80px;
}

.h-popup ul li {
  list-style: none;
  padding: 10px 0 0 20px;
}

.h-popup ul li a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
}

.h-popup ul li a:hover,
.close-btn i:hover {
  color: var(--link-hover-clr);
}

#info {
  margin-top: 100px;
  padding: 0 80px;
}

#info h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
}

#info h1 span {
  color: var(--link-hover-clr);
}

#info p {
  color: #f1f1f1;
  max-width: 550px;
  margin-bottom: 20px;
}

.join-btn {
  background-color: transparent;
  color: var(--link-hover-clr);
  font-size: 18px;
  font-weight: 550;
  width: 200px;
  padding: 8px 15px;
  border: 1px solid var(--link-hover-clr);
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.join-btn:hover {
  background-color: var(--link-hover-clr);
  color: white;
}

.is-visible {
  visibility: visible;
}

@media screen and (max-width: 934px) {
  nav ul {
    gap: 50px;
  }
}

@media screen and (max-width: 878px) {
  header {
    padding-right: 30px;
  }

  nav ul {
    gap: 40px;
  }
}

@media screen and (max-width: 818px) {
  nav ul {
    gap: 30px;
  }
}

@media screen and (max-width: 760px) {
  nav ul {
    gap: 25px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
    visibility: hidden;
  }

  .hamburger {
    display: inline;
    visibility: visible;
  }
}
