@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700&display=swap");

:root {
  --header: rgba(248, 212, 212, 0.514);
  --link-clr: #fff;
  --link-hover-clr: #c4a86b;
}

* {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100vh;
  background: url(assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 90px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 85px;
  padding: 0 80px;
}

header img {
  height: 50px;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

nav ul li a {
  color: var(--link-clr);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 530;
  transition: color ease-in-out 0.2s;
}

nav ul li a:hover,
.current {
  color: var(--link-hover-clr);
}

nav ul li a:active {
  opacity: 0.8;
}

#info {
  margin-top: 300px;
}
